<mat-card class="main-card">
  <mat-card-title>Localisation</mat-card-title>

  <form class="localisation-form">
    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="5%" fxLayoutWrap>
      <mat-form-field>
        <input matInput [(ngModel)]="latitude" name="latitude" placeholder="Latitude">
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="longitude" name="longitude" placeholder="Longitude">
      </mat-form-field>
    </div>
    <div style="margin-bottom: 15px">
      <button mat-raised-button color="primary" (click)="getCoordinates()">
        Get current position
      </button>
    </div>

    <div *ngIf="latitude != null && longitude != null">
      <button mat-raised-button color="primary" (click)="saveCoordinates()">
        Save position
      </button>
    </div>
  </form>

</mat-card>