/*
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
  
.example-full-width {
  width: 100%;
}

.example-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.example-radio-button {
  margin: 5px;
}

.example-selected-value {
  margin: 15px 0;
}
*/

.mat-list-icon {
  color: rgba(0, 0, 0, 0.54);
}

.text-inside-grid {
  position: absolute;
  left: 5px;
}
