<!--mat-list>
  <h3 mat-subheader>WiFi networks</h3>
  <mat-list-item *ngFor="let network of scannedNetworks" (click)="onSelect(network)">
    <mat-icon mat-list-icon *ngIf="network.secured">lock</mat-icon>
    <mat-icon mat-list-icon *ngIf="!network.secured">lock_open</mat-icon>
    <span mat-line>
      {{network.ssid}} {{network.rssi}}%
    </span>
  </mat-list-item>
</mat-list-->

<mat-card class="main-card">
  <mat-card-title>WiFi Configuration</mat-card-title>

  <button mat-raised-button color="primary" (click)="getNetworks()">Scan WiFi</button>

  <h2>Networks</h2>
  <mat-radio-group class="example-radio-group" [(ngModel)]="selectedNetwork" (change)="password=''">
    <mat-radio-button class="example-radio-button" *ngFor="let network of scannedNetworks" [value]="network">
      <div style="width:400px">
        <mat-grid-list cols="12" rowHeight="1:1">
          <mat-grid-tile colspan="1">
            <mat-icon mat-list-icon *ngIf="network.secured">lock</mat-icon>
            <mat-icon mat-list-icon *ngIf="!network.secured">lock_open</mat-icon>
          </mat-grid-tile>
          <mat-grid-tile colspan="8">
            <span class="text-inside-grid">{{network.ssid}}</span>
          </mat-grid-tile>
          <mat-grid-tile colspan="3">
            <span>{{network.rssi}}%</span>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </mat-radio-button>
  </mat-radio-group>



  <!--div *ngIf="selectedNetwork">
  <h2>{{selectedNetwork.ssid}} Details</h2>
  <div><span>id: </span>{{selectedNetwork.id}}</div>
  <mat-form-field>
    <input matInput placeholder="SSID" [(ngModel)]="selectedNetwork.ssid" name="ssid">
  </mat-form-field>
  <div><span>rssi: </span>{{selectedNetwork.rssi}}%</div>
</div-->

<form class="password-form" *ngIf="selectedNetwork">
  <mat-form-field *ngIf="selectedNetwork.secured">
    <input matInput [(ngModel)]="password" name="password" placeholder="Password" type="password">
  </mat-form-field>
  <div>
    <button mat-raised-button color="primary" (click)="save()">
      Save WiFi credentials
    </button>
  </div>
</form>
<mat-card-content>