<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary" class="main-toolbar mat-elevation-z4">
  <mat-toolbar-row>
    <span style="padding-left: 40px">{{ title }}</span>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
  <div fxFlex.gt-sm="40" fxFlex="80">
    <app-wifi-list></app-wifi-list>
    <app-localisator></app-localisator>
    <app-reset></app-reset>
  </div>
</div>

<a mat-raised-button color="accent" href="https://github.com/romainreignier/esp_weather_station" id="view-source">View
  Source
</a>